@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-layout.ant-layout-has-sider {
  min-height: 100vh;
}

.ant-menu-item {
  border-radius: 4px !important;
}

.ant-table-thead .ant-table-cell {
  white-space: nowrap;
}