@tailwind base;
@tailwind components;
@tailwind utilities;

.i-pkck {
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  background-color: #ffffff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  height: 31.6px;
  border-radius: 6px;
  position: relative;
}

.modal-regional .ant-modal-content {
  padding-left: 0;
  padding-right: 0;
}

.modal-regional .ant-modal-content .ant-modal-header {
  padding-left: 24px;
  padding-right: 24px;
}

.ps-sidebar-container {
  position: fixed !important;
  width: 250px;
  height: 100vh;
  scrollbar-color: #5558f4 transparent;
  overflow: auto;
}

.ps-menu-root::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

.ps-menu-root:hover::-webkit-scrollbar-thumb {
  background-color: #5558f4;
}

.ps-menu-root::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.ps-sidebar-container nav {
  height: 100vh;
  width: 100%;
}

.ps-menu-button {
  height: 45px !important;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.ps-submenu-expand-icon span {
  width: 8px !important;
  height: 8px !important;
}

.ps-open {
  color: #0f172a;
  background: #ffffff;
}

.ps-open:hover {
  background: #ffffff !important;
}

.ps-active {
  background: #ffffff;
  color: #000;
}

.ant-btn-primary:not(:disabled) {
  background-color: #696cff !important;
}

.sc-select .ant-select-selector {
  border: 0 !important;
  height: 100% !important;
  border-radius: 0.5rem !important;
  overflow: hidden !important;
}

.sc-select {
  overflow: hidden !important;
  height: 2.5rem;
}

.sc-select .ant-select-selector input {
  height: 100% !important;
}

.sc-select .ant-select-selector .ant-select-selection-item,
.sc-select .ant-select-selector .ant-select-selection-placeholder {
  display: flex;
  align-items: center;
}