@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-layout.ant-layout-has-sider {
  min-height: 100vh;
}

.ant-menu-item {
  border-radius: 4px !important;
}

.ant-table-thead .ant-table-cell {
  white-space: nowrap;
}

/* .ant-radio-wrapper-checked span {
  font-weight: 700;
} */

.ant-input-search-button {
  display: flex;
  align-items: center;
  background-color: #1677ff;
}

.ant-input-search-button:hover {
  background-color: #1677ff !important;
}

.i-pkck {
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  background-color: #ffffff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  height: 31.6px;
  border-radius: 6px;
  position: relative;
}

.ant-dropdown-menu {
  max-height: 200px;
  overflow: auto;
}

.ant-dropdown-menu-submenu-expand-icon span {
  position: absolute !important;
  top: 5px;
  right: 1px;
}

.modal-regional .ant-modal-content {
  padding-left: 0;
  padding-right: 0;
}

.modal-regional .ant-modal-content .ant-modal-header {
  padding-left: 24px;
  padding-right: 24px;
}